div.slider-1{
    width: 100%;
    height: 44.60px;
    background-color: #FFFFFF;
    display: flex;
}
div.slider-1>span{
    width: inherit;
    height: inherit;
    line-height: 44.60px;
    text-align: center;
    margin: 0% auto;
    font-family: Apple;
    font-size: 16px;
    font-weight: lighter;
    color: #474748;
}
div.slider-1>span>a.s-1{
    font-family: Apple;
    font-size: 10px;
    color: #4A92DB;
}
div.slider-1>span>a.s-2{
    font-family: Apple;
    font-size: 17px;
    color: #4A92DB;
    text-decoration: none;
}
div.slider-1>span>a.s-2:hover{
    text-decoration: underline;
}
div.slider-2{
    width: 100%;
    height: 624px;
    background-image: url(/image/slider-2/iphone14pro-sm.jpg);
    background-size: cover;
    padding-top: 40px;
    display: flex;
}
div.slider-2>a{
    width: 100%;
    height: 624px;
    text-decoration: none;
}
div.slider-2>a>div.slider-2-1{
    width: 100%;
    height: 60px;
}
div.slider-2>a>div.slider-2-1>p{
    text-align: center;
    font-family: Apple;
    font-size: 55px;
    color: #FFFFFF;
}
div.slider-2>a>div.slider-2-2{
    width: 100%;
    height: 40px;
}
div.slider-2>a>div.slider-2-2>p{
    text-align: center;
    font-family: Apple;
    font-size: 30px;
    color: #FFFFFF;
}
div.slider-2>a>div.slider-2-3{
    display: flex;
    width: 100%;
    height: 40px;
}
div.slider-2>a>div.slider-2-3>div.slider-2-3-1{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
}
div.slider-2>a>div.slider-2-3>div.slider-2-3-1>p{
    color: #16528B;
    line-height: 40px;
    font-family: Apple;
    padding: 0% 20px;
    font-size: 22px;
    font-weight: bold;
}
div.slider-2>a>div.slider-2-3>div.slider-2-3-1>p:hover{
    text-decoration: underline;
}
a.slider-3{
    width: 100%;
    height: 624px;
    text-decoration: none;
}
a.slider-3>div.slider-3{
    width: 100%;
    height: 624px;
    background-image: url(/image/slider-3/iphone14-sm.jpg);
    background-size: cover;
    padding-top: 60px;
    display: block;
    text-align: center;
}
a.slider-3>div.slider-3>div.slider-3-1{
    width: 100%;
    height: 60px;
}
a.slider-3>div.slider-3>div.slider-3-1>p{
    text-align: center;
    font-family: Apple;
    font-size: 55px;
    color: #2b2b2b;
    font-weight: bold;
}
a.slider-3>div.slider-3>div.slider-3-2{
    width: 100%;
    height: 40px;
}
a.slider-3>div.slider-3>div.slider-3-2>p{
    text-align: center;
    font-family: Apple;
    font-size: 30px;
    color: #2b2b2b;
    font-weight: bold;
}
a.slider-3>div.slider-3>div.slider-3-3{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
}
a.slider-3>div.slider-3>div.slider-3-3>p{
    color: #16528B;
    line-height: 40px;
    font-family: Apple;
    padding: 0% 20px;
    font-size: 22px;
    font-weight: bold;
}
a.slider-3>div.slider-3>div.slider-3-3>p:hover{
    text-decoration: underline;
}
a.slider-4{
    width: 100%;
    height: 624px;
    text-decoration: none;
}
a.slider-4>div.slider-4{
    width: 100%;
    height: 624px;
    padding: 10px 0%;
    background-image: url(/image/slider-4/apple_watch-sm.jpg);
    background-size: cover;
}
a.slider-4>div.slider-4>div.top{
    width: 100%;
    height: 250px;
    padding-top: 50px;
}
a.slider-4>div.slider-4>div.top>div.top-1{
    width: 200px;
    height: 72px;
    margin: 0% auto;
}
a.slider-4>div.slider-4>div.top>h3{
    width: 100%;
    height: 31px;
    text-align: center;
    line-height: 31px;
    font-family: Apple;
    font-size: 30px;
    color: #FFFFFF;
    padding-top: 10px;
}
a.slider-4>div.slider-4>div.top>div.top-2{
    display: flex;
    width: 230px;
    height: 29px;
    padding-top: 30px;
    margin: 0%auto;
}
a.slider-4>div.slider-4>div.top>div.top-2>div.top-2-1{
    width: 70%;
    height: inherit;
}
a.slider-4>div.slider-4>div.top>div.top-2>div.top-2-1>p{
    color: #16528B;
    line-height: 29px;
    font-family: Apple;
    font-size: 22px;
    font-weight: bold;
}
a.slider-4>div.slider-4>div.top>div.top-2>div.top-2-2{
    width: 30%;
    height: inherit;
}
a.slider-4>div.slider-4>div.top>div.top-2>div.top-2-2>p{
    color: #16528B;
    line-height: 29px;
    margin-left: 10px;
    font-family: Apple;
    font-size: 22px;
    font-weight: bold;
}
div.slider-5{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
a.slider-5-1{
    width: 100%;
    height: 624px;
    text-decoration: none;
    padding: 0px 5px;
    margin-top: 10px;
}
a.slider-5-1>div.slider-5-1{
    width: 100%;
    height: 624px;
    background-image: url(/image/slider-5/slider5-1/iphone-2xl.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    text-align: center;
}
a.slider-5-1>div.slider-5-1>div.slider-5-1-1{
    width: 100%;
    height: 40px;
}
a.slider-5-1>div.slider-5-1>div.slider-5-1-2{
    width: 100%;
    height: 40px;
}
a.slider-5-1>div.slider-5-1>div.slider-5-1-2>p{
    text-align: center;
    font-family: Apple;
    font-size: 30px;
    line-height: 40px;
    color: #2b2b2b;
    font-weight: bold;
}
a.slider-5-1>div.slider-5-1>div.slider-5-1-3{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
}
a.slider-5-1>div.slider-5-1>div.slider-5-1-3>p{
    color: #16528B;
    line-height: 40px;
    font-family: Apple;
    padding: 0% 20px;
    font-size: 22px;
    font-weight: bold;
}
a.slider-5-1>div.slider-5-1>div.slider-5-1-3>p:hover{
    text-decoration: underline;
}
a.slider-5-2{
    width: 100%;
    height: 624px;
    text-decoration: none;
    padding: 0px 5px;
    margin-top: 10px;
}
a.slider-5-2>div.slider-5-2{
    width: 100%;
    height: 624px;
    background-image: url(/image/slider-5/slider5-2/promo-2xl.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 400px;
    flex-wrap: wrap;
    text-align: center;
}
a.slider-5-2>div.slider-5-2>div.slider-5-2-1{
    width: 100%;
    height: 50px;
}
a.slider-5-2>div.slider-5-2>div.slider-5-2-1>img{
    width: 30%;
    height: 40px;
}
a.slider-5-2>div.slider-5-2>div.slider-5-2-2{
    width: 50%;
    height: 50px;
    margin: 0%auto;
}
a.slider-5-2>div.slider-5-2>div.slider-5-2-2>h5{
    text-align: center;
    font-size: 20px;
    font-family: Apple;
    color: #FBFBFD;
}
a.slider-5-2>div.slider-5-2>div.slider-5-2-3{
    width: 20%;
    height: 30px;
    margin: 0%auto;
}
a.slider-5-2>div.slider-5-2>div.slider-5-2-3>p{
    text-align: center;
    font-size: 20px;
    font-family: Apple;
    color: #1472D0;
    line-height: 30px;
}
a.slider-5-2>div.slider-5-2>div.slider-5-2-3>p:hover{
    text-decoration: underline;
}
a.slider-5-3{
    width: 100%;
    height: 624px;
    text-decoration: none;
    padding: 0px 5px;
    margin-top: 10px;
}
a.slider-5-3>div.slider-5-3{
    width: 100%;
    height: 624px;
    background-image: url(/image/slider-5/slider5-3/promo-2xl.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    text-align: center;
}
a.slider-5-3>div.slider-5-3>div.slider-5-3-1{
    width: 100%;
    height: 40px;
}
a.slider-5-3>div.slider-5-3>div.slider-5-3-2{
    width: 100%;
    height: 40px;
}
a.slider-5-3>div.slider-5-3>div.slider-5-3-2>p{
    text-align: center;
    font-family: Apple;
    font-size: 24px;
    line-height: 40px;
    color: #2b2b2b;
    font-weight: bold;
}
a.slider-5-3>div.slider-5-3>div.slider-5-3-3{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
}
a.slider-5-3>div.slider-5-3>div.slider-5-3-3>p{
    color: #16528B;
    line-height: 40px;
    font-family: Apple;
    padding: 0% 20px;
    font-size: 22px;
    font-weight: bold;
}
a.slider-5-3>div.slider-5-3>div.slider-5-3-3>p:hover{
    text-decoration: underline;
}
a.slider-5-4{
    width: 100%;
    height: 624px;
    text-decoration: none;
    padding: 0px 5px;
    margin-top: 10px;
}
a.slider-5-4>div.slider-5-4{
    width: 100%;
    height: 624px;
    background-image: url(/image/slider-5/slider5-4/ipadpro-2xl.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    text-align: center;
}
a.slider-5-4>div.slider-5-4>div.slider-5-4-1{
    width: 100%;
    height: 40px;
}
a.slider-5-4>div.slider-5-4>div.slider-5-4-1>h1{
    color: whitesmoke;
    line-height: 40px;
    font-family: Apple;
    padding: 0% 20px;
    font-size: 35px;
    font-weight: bold;
}
a.slider-5-4>div.slider-5-4>div.slider-5-4-2{
    width: 100%;
    height: 40px;
}
a.slider-5-4>div.slider-5-4>div.slider-5-4-2>p{
    text-align: center;
    font-family: Apple;
    font-size: 24px;
    line-height: 40px;
    color: whitesmoke;
    font-weight: bold;
}
a.slider-5-4>div.slider-5-4>div.slider-5-4-3{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
}
a.slider-5-4>div.slider-5-4>div.slider-5-4-3>p{
    color: #16528B;
    line-height: 40px;
    font-family: Apple;
    padding: 0% 20px;
    font-size: 22px;
    font-weight: bold;
}
a.slider-5-4>div.slider-5-4>div.slider-5-4-3>p:hover{
    text-decoration: underline;
}
a.slider-5-5{
    width: 100%;
    height: 624px;
    text-decoration: none;
    padding: 0px 5px;
    margin-top: 10px;
}
a.slider-5-5>div.slider-5-5{
    width: 100%;
    height: 624px;
    background-image: url(/image/slider-5/slider5-5/privacy-2xl.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    text-align: center;
}
a.slider-5-5>div.slider-5-5>div.slider-5-5-1{
    width: 350px;
    height: 95px;
    margin: 0%auto;
}
a.slider-5-5>div.slider-5-5>div.slider-5-5-1>h1{
    color: whitesmoke;
    font-family: Apple;
    padding: 0% 20px;
    font-size: 40px;
    font-weight: bold;
}
a.slider-5-5>div.slider-5-5>div.slider-5-5-2{
    width: 100%;
    height: 40px;
}
a.slider-5-5>div.slider-5-5>div.slider-5-5-2>p{
    text-align: center;
    font-family: Apple;
    font-size: 24px;
    line-height: 40px;
    color: whitesmoke;
    font-weight: bold;
}
a.slider-5-5>div.slider-5-5>div.slider-5-5-3{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
}
a.slider-5-5>div.slider-5-5>div.slider-5-5-3>p{
    color: #16528B;
    line-height: 40px;
    font-family: Apple;
    padding: 0% 20px;
    font-size: 22px;
    font-weight: bold;
}
a.slider-5-5>div.slider-5-5>div.slider-5-5-3>p:hover{
    text-decoration: underline;
}
a.slider-5-6{
    width: 100%;
    height: 624px;
    text-decoration: none;
    padding: 0px 5px;
    margin-top: 10px;
}
a.slider-5-6>div.slider-5-6{
    width: 100%;
    height: 624px;
    background-image: url(/image/slider-5/slider5-6/tile-2xl.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    text-align: center;
}
a.slider-5-6>div.slider-5-6>div.slider-5-6-1{
    width: 100%;
    height: 40px;
}
a.slider-5-6>div.slider-5-6>div.slider-5-6-2{
    width: 290px;
    height: 51px;
    margin: 0%auto;
}
a.slider-5-6>div.slider-5-6>div.slider-5-6-2>p{
    text-align: center;
    font-family: Apple;
    font-size: 22px;
    color: #2b2b2b;
    font-weight: bold;
}
a.slider-5-6>div.slider-5-6>div.slider-5-6-3{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
}
a.slider-5-6>div.slider-5-6>div.slider-5-6-3>p{
    color: #16528B;
    line-height: 40px;
    font-family: Apple;
    padding: 0% 20px;
    font-size: 22px;
    font-weight: bold;
}
a.slider-5-6>div.slider-5-6>div.slider-5-6-3>p:hover{
    text-decoration: underline;
}